$color-primary-color: #F1CDB3;
$color-primary-color-light: #FDDCC4;
$color-dark-l: #545454;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-dark-3xl: #292929;

%h3 {
    font-family: Georgia;
    font-weight: normal;
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: 0.06em;
}

%h4 {
    font-family: Georgia;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.06em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.header {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 30px 0;
    background-color: $color-light-xl;
    
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding: 30px;
    }
}

.wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        max-width: 708px;;
    }

}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}

.logo__title {
    margin-top: 1px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0.12rem;
    color: $color-dark-l;
}

.logo__subtitle {
    margin-left: 2px;
    font-family: Arial;
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.08195rem;
    text-align: center;
    color: $color-dark-3xl;
}

.menu {
    display: flex;
}

.menu__list {
    width: 443px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-bottom: 1px;
}

.menu__item {
    display: flex;
    align-items: center;
}

.menu__link {
    font-family: Arial;
    font-weight: normal;
    font-size: 0.9375rem;
    line-height: 160%;
    min-height: 27px;
    
    &_enabled {
        color: $color-dark-3xl;
        border-bottom: 3px solid $color-primary-color;
        cursor: default;
    }
    
    &_disabled {
        color: $color-dark-l;
    
        &:hover {
            color: $color-dark-3xl;
            cursor: pointer;
        }
    }
}

.main {
    width: 100%;
}

.friends {
    background-color: $color-light-l;
    padding-top: 80px;
    padding-bottom: 100px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-top: 70px;
        padding-bottom: 76px;
    }

    &__h3 {
        width: 400px;
        text-align: center;
        color: $color-dark-l;
        @extend %h3;
    }

    .wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

.pets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    width: 100%;
    padding: 60px 0;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 64px;
    }
}

.pet {
    background-color: $color-light-s;
    border-radius: 9px;
    width: 270px;
    height: 435px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: center;

    &:nth-last-child(-n+2) {
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            display: none;
        }
    }

    &:hover {
        background-color: $color-light-xl;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        cursor: pointer;
    }

    &:hover &__button { 
        background-color: $color-primary-color-light;
        border: 2px solid $color-primary-color-light;
        cursor: pointer;
    }

    &__title {
        font-family: Georgia;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 1.4375rem;
        text-align: center;
        letter-spacing: 0.06em;
    }
    
    &__button {
        font-family: Georgia;
        font-weight: normal;
        font-size: 1.0625rem;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-dark-3xl;
        padding: 13px 43px;
        border-radius: 100px;
        background-color: transparent;
        border: 2px solid $color-primary-color;
        outline: none;
    }
}

.pagination-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 340px;

    &__button {
        width: 52px;
        height: 52px;
        border-radius: 100%;
        outline: none;
        border: 2px solid $color-primary-color;
        color: $color-dark-3xl;
        text-align: center;
        @extend %h4;

        &_enabled:hover {
            cursor: pointer;
            background-color: $color-primary-color-light;
            border-color: $color-primary-color-light;
        }

        &_active {
            background-color: $color-primary-color;
        }

        &_disabled {
            border-color: $color-dark-s;
            color: $color-dark-s;
        }
    }
}

.footer {
    background: url(/assets/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding-top: 40px;
    
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-top: 30px;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: 279px 301px auto;
        grid-template-rows: auto;
        column-gap: 160px;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            grid-template-columns: 279px 301px;
            grid-template-rows: auto 315px;
            column-gap: 60px;
            row-gap: 60px;
            padding: 0 34px;
        }
    }

    &__image {
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            grid-column: 1 / span 2;
            justify-self: center;
            align-self: end;
        }
    }
    
    .contact, .location {
        padding-top: 16px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 768px) and (max-width: 1279px) {
            padding-top: 0;
            height: 234px;
        }

        &__icon {
            margin-right: 20px;
        }
    }
        
    .location {
        width: 301px;
    }

    .location__h3, .contact__h3 {
        color: $color-light-xl;
        @extend %h3;
    }

    .location__link, .contact__link {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        @extend %h4;
        color: $color-primary-color;
        text-decoration: none;

    }
}