%element {
    display: block;
    width: 75px;
    height: 75px;
    background-size: contain;
    margin: 1rem;
}

.animated {
    animation: fading 0.5s infinite ease-in-out alternate none;
}

.rotated {
    transform: rotate(25deg);;
}

italy, japan, france, usa {
    border: 0.25rem solid #424242;
}

[name="arc-de-triomphe"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/arc-de-triomphe.svg');
}

[name="athena"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/athena.svg');
}

[name="aztec-pyramid"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/aztec-pyramid.svg');
}

[name="big-ben"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/big-ben.svg');
}

[name="borobudur"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/borobudur.svg');
}

[name="brandenburg-gate"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/brandenburg-gate.svg');
}

[name="budapest"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/budapest.svg');
}

[name="burj-al-arab"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/burj-al-arab.svg');
}

[name="cathedral-of-saint-basil"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/cathedral-of-saint-basil.svg');
}

[name="christ-the-redeemer"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/christ-the-redeemer.svg');
}

[name="cloud-gate"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/cloud-gate.svg');
}

[name="cn-tower"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/cn-tower.svg');
}

[name="colosseum"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/colosseum.svg');
}

[name="easter-island"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/easter-island.svg');
}

[name="eiffel-tower"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/eiffel-tower.svg');
}

[name="forbidden-city"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/forbidden-city.svg');
}

[name="fuji-mountain"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/fuji-mountain.svg');
}

[name="gateway-arch"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/gateway-arch.svg');
}

[name="gherkin"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/gherkin.svg');
}

[name="great-wall-of-china"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/great-wall-of-china.svg');
}

[name="kaaba"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/kaaba.svg');
}

[name="kinderdijk-windmills"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/kinderdijk-windmills.svg');
}

[name="london-eye"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/london-eye.svg');
}

[name="louvre"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/louvre.svg');
}

[name="merlion"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/merlion.svg');
}

[name="monas"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/monas.svg');
}

[name="obelisk"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/obelisk.svg');
}

[name="pagoda"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/pagoda.svg');
}

[name="pantheon"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/pantheon.svg');
}

[name="petra"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/petra.svg');
}

[name="pisa-tower"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/pisa-tower.svg');
}

[name="pyramid"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/pyramid.svg');
}

[name="rialto-bridge"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/rialto-bridge.svg');
}

[name="san-francisco"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/san-francisco.svg');
}

[name="seoul-tower"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/seoul-tower.svg');
}

[name="space-needle"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/space-needle.svg');
}

[name="sphinx"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/sphinx.svg');
}

[name="statue-of-liberty"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/statue-of-liberty.svg');
}

[name="stockholm"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/stockholm.svg');
}

[name="stonehenge"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/stonehenge.svg');
}

[name="sydney-opera-house"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/sydney-opera-house.svg');
}

[name="taj-mahal"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/taj-mahal.svg');
}

[name="tokyo-tower"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/tokyo-tower.svg');
}

[name="torii"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/torii.svg');
}

[name="tower-of-ejer-bavnehoj"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/tower-of-ejer-bavnehoj.svg');
}

[name="tower-bridge"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/tower-bridge.svg');
}

[name="twin-towers"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/twin-towers.svg');
}

[name="washington-monument"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/washington-monument.svg');
}

[name="wat-phra-kaew"] {
    @extend %element;
    background-image: url('./assets/img/landmarks-monuments/wat-phra-kaew.svg');
}